.app {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.dark {
    background-color: #211717;
    color: #DFDDC7 !important;
}

.light {
    background-color: #DFDDC7;
    color: #211717 !important;
}
